<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <% task_id = "タスク"+task.id.to_s %>
    <li><%= link_to task_id, task %> : <%= task.content %> 状態： <%= task.status %> </li>
  <% end %>
</ul>

<%= link_to '新規タスクの追加', new_task_path %>

